@import "../../scss/breakpoints";

.button {
  $block-name: &; // #{$block-name}__element

  color: var(--color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;

  &--white {
    background: var(--color-white);
    border-radius: 5px;
    box-shadow: var(--box-shadow-red);

    @media screen and (min-width: $screen-tl) {
      padding: 10px 20px;
      font-size: 16px;
    }

    @media screen and (min-width: $screen-d) {
      padding: 18px 40px;
      font-size: 20px;
    }
  }

  &--red {
    padding: 25px 40px;
    color: var(--color-white);
    background: var(--red);
    border-radius: 5px;

    @media screen and (min-width: $screen-ti) {
      font-size: 16px;
    }

    @media screen and (min-width: $screen-m) {
      padding: 15px 30px;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.3px;
    }
  }

  &--red-shadow {
    padding: 25px 40px;
    color: var(--color-white);
    font-size: 25px;
    letter-spacing: 0.5px;
    background: var(--red);
    border-radius: 5px;
    box-shadow: var(--box-shadow-red);

    @media screen and (min-width: $screen-ti) {
      font-size: 16px;
    }

    @media screen and (min-width: $screen-m) {
      padding: 10px 20px;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.3px;
    }
  }
}
