.container {
  $block-name: &; // #{$block-name}__element

  $padding-desktop: 40px;
  $padding-mobile: 15px;

  max-width: 2000px;
  margin: 0 auto;

  @media screen and (min-width: $screen-m) {
    width: calc(100% - $padding-mobile * 2);
  }

  @media screen and (min-width: $screen-d) {
    width: calc(100% - $padding-desktop * 2);
  }
}
