extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'HudGim'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content

  +hero

  +about

  +coaches

  +clients

  +price

  +reviews

  +user-questions

  +application

  +contacts
