//- Все примеси в этом файле должны начинаться c имени блока (burger)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin burger(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +burger('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' burger--' + modsList[i].trim();
      }
    }

  .burger(class=allMods)&attributes(attributes)
    .burger__button
      span
      span
      span

    .burger__menu
      .burger__logo
        img(src='img/logo.svg', alt='')
      .burger__inf-company
        a(href='#', class='link burger__phone') +7 960 555 22 22
        button(type='button', class='button button--red-shadow burger__btn open-modal-window') Заказать звонок
      .burger__nav

        - let list = ["О клубе", "Тренер", "Цены", "Отзывы", "Контакты"]
         each item in list
           a(class='link', href='#')= item

      .burger__social-media
        .burger__block
          svg(height='25', width='25', class='burger__icon')
            use(xlink:href='img/icons.svg#icon__vk')
          div hudgim_ru


