@font-face {
  font-weight: 300;
  font-family: Raleway;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Raleway/Raleway-Light.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Raleway;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Raleway/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: Raleway;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Raleway/Raleway-Medium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: Raleway;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Raleway/Raleway-Bold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Dance;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Dance/dance_partner.woff2") format("woff2");
}
